* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #1f252f;
  padding: 0 16px;
}

.background-layer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
  display: none;
}

button:focus {
  outline: none;
}

header {
  z-index: 1000;
  top: 0px;
  position: fixed;
  align-items: center;
  background-color: #332355;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: space-between;
  margin: auto -16px;
  padding: 16px 32px;
  width: 100vw;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  display: inline-block;
}

header img {
  max-height: 80%;
}

.card-container {
  margin: 115px 0 15px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 30px) / 3));
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
}

.card-creator {
  display: none;
}

.card-creator.expanded {
  padding: 30px 15px;
  height: fit-content;
  max-width: 500px;
  transition: all 600ms ease-out;
  font-family: Montserrat;
  background: #fff;
  border-radius: 7px;
  margin: 15px 0;
  text-align: center;
  display: block;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -150px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index: 1000;
}

.card-creator h1 {
  font-size: 20px;
}

.card-creator input {
  display: block;
  margin: 15px auto;
  padding: 7px;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
  font-size: 16px;
  width: calc(100% - 30px);
}

.card-creator-button {
  box-shadow: 0px 10px 14px -7px #272d2d;
  background-color: #332355;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  text-shadow: 0px 1px 0px #3d768a;
}

.card-creator-button:hover {
  background: linear-gradient(to bottom, #332355 5%, #332355 100%);
  background-color: #332355;
}

.card {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  box-shadow: 0 3px 8px #009921;
}

.card h1 {
  font-size: 18px;
  margin-left: 10px;
}

.icon-section {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.icon-close {
  font-size: 28px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.icon-edit:hover {
  color: #004aa1;
}

.icon-delete:hover {
  color: #ff1f38;
}

footer {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  header {
    top: 0px;
    padding: 5px 2px;
    flex-direction: column;
  }

  #header-btn-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  header img {
    max-width: 250px;
  }

  header h1 {
    font-size: 20px;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .card-creator.expanded {
    margin-left: -175px;
    max-width: 350px;
  }

  .card h1 {
    font-size: 16px;
  }
}
